<form action="/users/login" method="POST">
    Username
    <input type="text" name="username" />
    <br />
    Passowrd
    <input type="password" name="password" />
    <br />
    <input type="submit" value="Login" />
</form>